#
# for D3CK key insertion/removal
#
SUBSYSTEMS=="usb",KERNEL=="sd[a-h]1",SYMLINK+="usbkey", RUN+="/etc/d3ck/usbkey.sh %k"
SUBSYSTEMS=="usb",KERNEL=="sd[a-h]1",ACTION=="remove",  RUN+="/etc/d3ck/usbkey.sh"

